<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= title %></title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="fas fa-home "></i>
        <%=title%>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        
      

  
      <ul class="navbar-nav mr-auto">
        <% navbar.each do |key, value| %>

          <li>
            <li class="nav-item">
              <a href="<%= url(key) %>" class="nav-link <%= request.path_info == key ? "active" : "" %>">
                <i class="fas <%= value[1] %> "></i> <%= value[0] %> 
              </a>
            </li> 
          </li>

        <% end %>

      </ul>
    </div>
  </div>
</nav>
      
</header>

<div class="container" role="main">
  <% @flash.each do |type, msg| %>
    <div class="alert alert-<%= type %> alert-dismissible fade show my-3" role="alert">
      <%= msg %>
      <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        
      </button>
    </div>
  <% end unless @flash.nil? %>

  <%== yield %>
</div>

</body>
</html>
